@{
    ViewData["Title"] = "Productividad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/js/JSCalendar/jquery.js"></script>*@

<h1>Productividad</h1>

<h1 id="Etiqueta_maquina"></h1>
<input id="idEmpresa" value="@ViewBag.idEmpresa" style="display:none;" />

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

@* JSCalendar *@

<link href="~/css/JSCalendar/datepicker.css" rel="stylesheet" />
<link href="~/css/GestionKPI_indicadores.css" rel="stylesheet" asp-append-version="true" />
@*<link href="~/css/JSCalendar/layout.css" rel="stylesheet" />*@
<script src="~/js/JSCalendar/datepicker.js"></script>
<script src="~/js/JSCalendar/eye.js"></script>
<script src="~/js/JSCalendar/layout.js"></script>
@*<script src="~/js/JSCalendar/jq2.js"></script>*@

<div>

    <div class="alert alert-success" role="alert" id="alertaInicial">
        Datos obtenidos de la última semana completa de trabajo...
    </div>

    <button class="btn btn-primary agregar col-xl-1" onclick="mostrarFiltroMes()" id="btnMes">
        @*<i class="fas fa-cubes" > </i>*@
        Mes
    </button>
    <button class="btn btn-primary agregar col-xl-1" onclick="mostrarFiltroSemana()" id="btnSemana">
        @*<i class="fas fa-cubes" > </i>*@
        Semana
    </button>
    <button class="btn btn-primary agregar col-xl-1" onclick="mostrarFiltroDia()" id="btnDia">
        @*<i class="fas fa-cubes" > </i>*@
        Día
    </button>
    <button class="btn btn-primary agregar col-xl-1" onclick="mostrarFiltroHora()" id="btnHora">
        @*<i class="fas fa-cubes" > </i>*@
        Hora
    </button>

    <div class="row" style="float:right;">

        &nbsp;
        &nbsp;

        <div class="">Filtrado inteligente de datos</div>

        &nbsp;

        <div>
            @(Html.DevExtreme().Switch()
                    .Value(false)
                    .ID("swich01")
                    .OnValueChanged("switch_valueChanged")
                )
        </div>
    </div>

</div>

<br />
<br />

<div class="container-fluid" id="mesFilter" style="cursor:pointer; display:none;">
    <div class="container">
        <div class="row">
            <span class="input-group-text col-xl-1">Máquina</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    //.ID("select-prefix")
                    .ID("mesMaquina")
                    //.DataSource(new[] { "ACT_1", "ACT_2", "ACT_3", "ACT_4", "ACT_5", "ACT_6" })
                    .DataSource(d => d.Mvc().
                        LoadParams(new { idEmpresa = ViewBag.idEmpresa }).
                        LoadAction("Lista_activos"))
                    .Placeholder("Seleccione")
                    .DisplayExpr("Des_activo")
                    //.Width(225)
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )

            </div>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">  &nbsp;&nbsp; Desde</span>
            <div class="col-xl-3">
                @*<input type="month" name="week" id="mes-ini" required class="datePicker-CAZA">*@
                <div id="mes-ini"></div>
            </div>
            <span class="input-group-text col-xl-1"> &nbsp;&nbsp; Hasta</span>
            <div class="col-xl-3">
                @*<input type="month" name="week" id="mes-fin" required class="datePicker-CAZA">*@
                <div id="mes-fin"></div>
            </div>

            <button class="botoncito4 col-xl-1 btn btn-info agregar" onclick="obtenerMes(@ViewBag.idEmpresa)" id="prueba">
                @*<i class="fas fa-cubes" > </i>*@
                Aplicar
            </button>

        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Ver en</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    .ID("mesVer")
                    .DataSource(new[] { "Unidades por hora", "Unidades por día" })
                    .Placeholder("Unidades por hora")
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="semanaFilter" style="cursor:pointer; display:none;">
    <div class="container">

        <div class="row">
            <span class="input-group-text col-xl-1">Máquina</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    //.ID("select-prefix")
                    .ID("semanaMaquina")
                    .DataSource(d => d.Mvc().
                        LoadParams(new { idEmpresa = ViewBag.idEmpresa }).
                        LoadAction("Lista_activos"))
                    .Placeholder("Seleccione")
                    .DisplayExpr("Des_activo")
                    //.Width(225)
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )
            </div>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">  &nbsp;&nbsp; Desde</span>
            <div class="col-xl-3" id="divSemanaIni">
                <input type="week" name="week" id="semana-ini" required class="datePicker-CAZA">
            </div>

            <div class="col-xl-3 row" id="divFirefoxSemanaIni" style="display:none;">
                &nbsp;&nbsp;
                <div id="BoxIni" class="col-xl-4"></div>
                &nbsp;
                <div id="BoxIni_ano" class="col-xl-6"></div>
            </div>

            <span class="input-group-text col-xl-1"> &nbsp;&nbsp; Hasta</span>
            <div class="col-xl-3" id="divSemanaFin">
                <input type="week" name="week" id="semana-fin" required class="datePicker-CAZA">
            </div>

            <div class="col-xl-3 row" id="divFirefoxSemanaFin" style="display:none;">
                &nbsp;&nbsp;
                <div id="BoxFin" class="col-xl-4"></div>
                &nbsp;
                <div id="BoxFin_ano" class="col-xl-6"></div>
            </div>

            <button class="botoncito4 col-xl-1 btn btn-info agregar" onclick="obtenerSemana(@ViewBag.idEmpresa)" id="prueba">
                Aplicar
            </button>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Ver en</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    .ID("semanaVer")
                    .DataSource(new[] { "Unidades por hora", "Unidades por día" })
                    .Placeholder("Unidades por hora")
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="diaFilter" style="cursor:pointer; display:none;">
    <div class="container">
        <div class="row">
            <span class="input-group-text col-xl-1">Máquina</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    //.ID("select-prefix")
                    .ID("diaMaquina")
                    .DataSource(d => d.Mvc().
                        LoadParams(new { idEmpresa = ViewBag.idEmpresa }).
                        LoadAction("Lista_activos"))
                    .Placeholder("Seleccione")
                    .DisplayExpr("Des_activo")
                    //.Width(225)
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )
            </div>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Desde</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().DateBox()
                    .ID("diaDesde")
                    .DisplayFormat("dd/MM/yyyy")
                    .Type(DateBoxType.Date)
                    .Value(DateTime.Now)
                    .DropDownButtonTemplate(@<i class="fas fa-calendar-alt"></i>)
                )
            </div>
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Hasta</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().DateBox()
                    .ID("diaHasta")
                    .DisplayFormat("dd/MM/yyyy")
                    .Type(DateBoxType.Date)
                    .Value(DateTime.Now)
                    .DropDownButtonTemplate(@<i class="fas fa-calendar-alt"></i>)
                )
            </div>
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Turno</span>
            <div class="col-xl-2">
                @(Html.DevExtreme().SelectBox()
                    //.ID("select-prefix")
                    .ID("diaTurno")
                    .DataSource(d => d.Mvc().LoadAction("GetTurnos2")
                                            .Key("Cod_turno")
                                            .Controller("Tablas")
                                            .LoadParams(new { idEmpresa = ViewBag.idEmpresa }))
                    .Placeholder("Todos")
                    //.Width(225)
                    .DisplayExpr("Cod_turno")
                    .ValueExpr("Cod_turno")
                    .SearchEnabled(true)
                    .DropDownButtonTemplate(@<i class="far fa-clock-o"></i>)
                )
            </div>
            <button class="botoncito4 col-xl-1 btn btn-info agregar" onclick="obtenerDia(@ViewBag.idEmpresa)" id="prueba">
                @*<i class="fas fa-cubes" > </i>*@
                Aplicar
            </button>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Ver en</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    .ID("diaVer")
                    .DataSource(new[] { "Unidades por hora", "Unidades por día" })
                    .Placeholder("Unidades por hora")
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )

            </div>
        </div>
    </div>
</div>

<div class="container-fluid" id="horaFilter" style="cursor:pointer; display:none;">
    <div class="container">
        <div class="row">
            @*<div class="col-xl-1">Desde</div>*@
            <span class="input-group-text col-xl-1">Máquina</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    //.ID("select-prefix")
                    .ID("horaMaquina")
                    .DataSource(d => d.Mvc().
                        LoadParams(new { idEmpresa = ViewBag.idEmpresa }).
                        LoadAction("Lista_activos"))
                    .Placeholder("Seleccione")
                    .DisplayExpr("Des_activo")
                    //.Width(225)
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )
            </div>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Desde</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().DateBox()
                    .ID("horaDesde")
                    .DisplayFormat("dd/MM/yyyy HH:mm")
                    .Type(DateBoxType.DateTime)
                    .Value(DateTime.Now)
                    .DropDownButtonTemplate(@<i class="fas fa-calendar-alt"></i>)
                )
            </div>
            @*<div class="col-xl-1">Hasta</div>*@
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Hasta</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().DateBox()
                    .ID("horaHasta")
                    .DisplayFormat("dd/MM/yyyy HH:mm")
                    .Type(DateBoxType.DateTime)
                    .Value(DateTime.Now)
                    .DropDownButtonTemplate(@<i class="fas fa-calendar-alt"></i>)
                )
            </div>
            <button class="botoncito4 col-xl-1 btn btn-info agregar" onclick="obtenerHora(@ViewBag.idEmpresa)" id="prueba">
                @*<i class="fas fa-cubes" > </i>*@
                Aplicar
            </button>
        </div>
        <br />
        <div class="row">
            <span class="input-group-text col-xl-1">&nbsp;&nbsp;Ver en</span>
            <div class="col-xl-3">
                @(Html.DevExtreme().SelectBox()
                    .ID("horaVer")
                    .DataSource(new[] { "Unidades por hora", "Unidades por día" })
                    .Placeholder("Unidades por hora")
                    .DropDownButtonTemplate(@<i class="fas fa-cog"></i>)
                    .SearchEnabled(true)
                    //.OnValueChanged("selectBox_valueChanged")
                )

            </div>
        </div>
    </div>
</div>

<br />
@*<h2 align="center" id="Etiqueta_maquina"></h2>*@
<div id="dash">

    <div class="row" id="dashbord1">

        <div id="progresBar" style="display:none;">
            <div class="spinner-border text-secondary" role="status">
                <span class="sr-only">Calculando valores...</span>
            </div>
            <a>&nbsp; Calculando valores...</a>
            <br />
        </div>

        <div class="col-xl-12">
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
        @*<div class="col-xl-6">
            <figure class="highcharts-figure">
                <div id="container1"></div>
            </figure>
        </div>*@
    </div>
    <br />
    @*<span id="swc2">TIEMPOS</span>*@
    @*<div class="row" id="dashbord2">

            <div class="col-xl-6">
                <figure class="highcharts-figure">
                    <div id="container2"></div>
                </figure>
            </div>
            <div class="col-xl-6">
                <figure class="highcharts-figure">
                    <div id="container3"></div>
                </figure>
            </div>
        </div>
        <br />*@
    @*<span id="swc3">INDICADORES</span>
        <div class="row" id="dashbord3">

            <div class="col-xl-6">
                <figure class="highcharts-figure">
                    <div id="3container"></div>
                </figure>
            </div>
            <div class="col-xl-6">
                <figure class="highcharts-figure">
                    <div id="3container1"></div>
                </figure>
            </div>
        </div>
        <br />*@
</div>

<button class="btn btn-primary agregar col-xl-4" onclick="mostrarTabla()" id="MOTabla">
    @*<button class="btn btn-primary agregar" onclick="creaTabla()" id="btnMes">*@
    @*<i class="fas fa-cubes"> </i>*@
    Mostrar información en formato tabla
</button>
<button style="visibility: hidden" class="btn btn-primary agregar col-xl-2" onclick="mostrarTablaTodo()" id="MOTablaTodo">
    @*<button class="btn btn-primary agregar" onclick="creaTabla()" id="btnMes">*@
    @*<i class="fas fa-cubes"> </i>*@
    Mostrar todo
</button>

@*<div style="padding: 10px;">
        <div id="widget"></div>
    </div>*@

<div id="divTabla" style="padding: 10px; display:none;">
    <br />
    <div class="row">
        <div class="col-xl-12">
            <div>Análisis de productividad</div>
            <div id="tablaRegistros1"></div>
        </div>
    </div>
    @*<br />
        <div class="row">
            <div class="col-xl-5">
                <div>Análisis de tiempos (porcentaje)</div>
                <div id="tablaRegistros2"></div>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-6">
                <div>Tiempos de paro</div>
                <div id="tablaRegistros3"></div>
            </div>
        </div>*@
</div>

<script type="text/javascript">

    var FactoryX = FactoryX || {};
    FactoryX.Urls = FactoryX.Urls || {};
    FactoryX.Urls.baseUrl = '@Url.Content("~")';

    FactoryX.Urls.AsignaEmpresa = '@Html.Raw(Url.Action("AsignaEmpresa","Planificacion", new { @idEmpresa = ViewBag.idEmpresa}))';
    @*//Factory.Urls.consultaPrueba = '@Url.Action("consultaPrueba")';
    //Factory.Urls.consultaPrueba = '@Url.Action("consultaPrueba", "Disponibilidad")';
    Factory.Urls.consultaPrueba = '@Html.Raw(Url.Action("consultaPrueba","Disponibilidad", new { @idEmpresa = ViewBag.idEmpresa}))';*@
    FactoryX.Urls.Historicos_variables3 = '@Html.Raw(Url.Action("Historicos_variables3","Analitica", new { @idEmpresa = ViewBag.idEmpresa}))';
    FactoryX.Urls.IndicadorProductividadVelocidad = '@Html.Raw(Url.Action("IndicadorProductividadVelocidad", "Analitica", new { @idEmpresa = ViewBag.idEmpresa}))';
    FactoryX.Urls.Lista_activos2 = '@Html.Raw(Url.Action("Lista_activos2","Analitica", new { @idEmpresa = ViewBag.idEmpresa}))';
    FactoryX.Urls.FirstDateOfWeek = '@Html.Raw(Url.Action("FirstDateOfWeek", "Analitica"))';
    //FactoryX.Urls.agrega_grafico_disponibilidad = '@Html.Raw(Url.Action("agrega_grafico_disponibilidad","Analitica", new { @idEmpresa = ViewBag.idEmpresa}))';

</script>
<script src="~/js/GestionKPI_indicadores.js" asp-append-version="true"></script>
